In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (1,2,3,"raja",True)

In [4]:
t

(1, 2, 3, 'raja', True)

In [5]:
t1 = (1,2,3,"raja",True)

In [6]:
t1[0]

1

In [7]:
t1[-1]

True

In [8]:
t1[::-1]

(True, 'raja', 3, 2, 1)

In [9]:
t1 = t1[::-1]

In [10]:
t1[0:3]

(True, 'raja', 3)

In [14]:
t1.count(True)

2

In [15]:
t1.count("abc")

0

In [16]:
t1.index("raja")

1

In [17]:
t1.count(True)

2

In [18]:
t1

(True, 'raja', 3, 2, 1)

In [19]:
t1[0]

True

In [21]:
t1[0] = 'yoga'

TypeError: 'tuple' object does not support item assignment

In [24]:
l = [1,2,3,4]

In [25]:
l[0]='raja'

In [26]:
l

['raja', 2, 3, 4]

In [27]:
t1

(True, 'raja', 3, 2, 1)

In [29]:
for i in t1:
    print(i)

True
raja
3
2
1

In [34]:
for i in t1:
    print(i, type(i))

True <class 'bool'>
raja <class 'str'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [35]:
t2 = (1,2,3,4,5,5,8)
t2*3

(1, 2, 3, 4, 5, 5, 8, 1, 2, 3, 4, 5, 5, 8, 1, 2, 3, 4, 5, 5, 8)

In [36]:
max(t2)

8

In [37]:
min(t2)

1

In [38]:
len(t2)

7

In [39]:
sum(t2)

28

In [40]:
# tuples are immutable
# list are mutable

In [41]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = (t1+t2)

In [42]:
t3

(1, 2, 3, 4, 5, 6)

In [43]:
t3 = (t1,t2)

In [44]:
t3

((1, 2, 3), (4, 5, 6))

In [45]:
t1

(1, 2, 3)

In [46]:
del t1

In [48]:
t2

(4, 5, 6)

In [49]:
'sudh' in t2

False

In [50]:
4 in t2

True