In [1]:
print("this is my programm")

this is my programm

In [2]:
l = [1,2,3,4]

In [3]:
len(l)  # inbuilt function

4

In [5]:
def test():
    pass

In [6]:
def test1():
    print("this is my first function")

In [7]:
test1()

this is my first function

In [8]:
test1()

this is my first function

In [10]:
test1() + 'raja'

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
o = test1()
type(o)

this is my first function

NoneType

In [9]:
type(test1)

function

In [16]:
def test2():
    return "This is my fun with return"

In [17]:
test2()

'This is my fun with return'

In [19]:
test2()+' Raja'

'This is my fun with return Raja'

In [22]:
def test3():
    return 1, 4, 4.5, 'raja', True

In [23]:
test3()

(1, 4, 4.5, 'raja', True)

In [24]:
a = 1,2,3,4,5

In [25]:
a

(1, 2, 3, 4, 5)

In [26]:
a,b,c,d = 1,2,3.5,True

In [27]:
b

2

In [28]:
d

True

In [29]:
test3()[0]

1

In [30]:
test3()

(1, 4, 4.5, 'raja', True)

In [31]:
a,b,c,d,e = test3()

In [32]:
b

4

In [33]:
def test4():
    a = 3*4+5
    return a

In [36]:
test4()

17

In [37]:
type(test4())

int

In [38]:
def test5(a,b):
    c = a+b
    return c

In [39]:
test5(10,10)

20

In [40]:
test5('raja','yoga')

'rajayoga'

In [41]:
test5([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [42]:
test5(b='yoga', a='raja')

'rajayoga'

Create a function which will take list as an input and return list of only int

In [43]:
l = [1,2,3,4,'raja','yoga',[9,10]]

In [51]:
def test6():
    l1 = []
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1

In [52]:
test6()

[1, 2, 3, 4]

Create a function which will take list inside list as an input and return list of only list

In [53]:
def test7():
    l1 = []
    for i in l:
        if type(i)==list:
            for j in i:
                if type(j)==int:
                    l1.append(j)
    return l1

In [54]:
test7()

[9, 10]

extract all the int values inside list and also extract int values of list inside list

In [56]:
a = [1,2,3,4,'raja','yoga',[9,8,7]]

In [57]:
def test8(a):
    n = []
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==int:
                    n.append(j)
        else:
            if type(i)==int:
                n.append(i)
    return n

In [58]:
test8(a)

[1, 2, 3, 4, 9, 8, 7]